@mixin width{
    width: 1100px;
    max-width: 100%;
    margin: auto;
}
@mixin ttl {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 27px;
    
}

@mixin noto {
    font-family: 'Noto Sans JP', sans-serif;   
}
@mixin gosic {
    font-family:'Sawarabi Gothic', sans-serif; 
}
@mixin m {
    font-family: 'Montserrat medium';
}
.header{
    max-width: 100%;
    width: 100%;
    margin: auto;

    &-logo{
        position: absolute;
        height: 0;
        background-color: transparent;
        padding: 22px 0px 0px 59px;
       

    }
    &-logo0{
        position: absolute;
        height: 0;
        background-color: transparent;
       }
    &-bg{
        margin: -24px 0px 0px 643px;
    }
    &-ttl{
        position: relative;
        bottom: 321px;
        left: 880px;
        margin-right: 880px;
        color: #fff;
        font-family: 'montserrat';
    h1{
        font-size: 72px;
        line-height: 86px;
        letter-spacing: 3px;
    }
    p{
        font-size: 20px;
    }
}
        &-list li{
            list-style:none;
            margin-bottom: 30px;
            text-align: center;
            position: relative;
            top: 180px;
        }
        &-list img{
            position: relative;
            left: 58px;
        }


        #show{
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            margin: 36px 58px;
            outline: 0;
        }

    
        #hide{
            float: right;
            margin: 38px 58px 0px 0px;
        }
    
        nav{
            position: fixed;
            top: 0;
            right: 250px;
            bottom: 0;
            width: 520px;
            margin-right: 250px;
            margin-right: -770px;
            background-color: #222;
            opacity: 0.95;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            z-index: 1;
        }
    }
        .form{
            width: 700px;
            margin: auto;
            max-width: 100%;
        
        &-txt{
            @include noto;
            position: relative;
            bottom: 34px;
            padding-bottom: 52px;
        }
        &-rttl p,&-ttl p,&-radio00 p,&-name p{
            @include noto;
        }
        &-rttl{
            display: flex;
            margin-top: 42px;
            margin-bottom: 8px;
        }   
        &-top{
            display: flex;
            margin-top: 42px;
        }
        &-radio-box{
            display: flex;
        }
        &-radio00{
            font-size: 12px;
            padding: 0px 5px;
            background-color: #333;
            color: #fff;
        }
        &-radio01,&-radio04{
            margin-left: 20px;
        }
        &-radio02{
            margin-left: 11px;
        }
        &-radio03{
            margin-left: 40px;
        }
        &-radio input{
            margin-left: 50px;
        }
        &-radio-box{
            margin-left: -30px;
            margin-top: 18px;
        }
        input{
            appearance: none;
            outline: none;

        }
        &-radio-btn{
            width: 20px;
            height: 20px;
            border: solid 1px #333;
            border-radius: 50%;
            vertical-align: -4px;

        }
        &-radio-btn:checked{
            background-color: #333;
            border: 4px solid #fff;
            box-shadow: 0 0 0 1px #333;

        }
        &-txtarea{
            border: 1px solid #333;
            width: 100%;
            height: 41px;
        }
        textarea{
            width: 100%;
            height: 212px;
            border: 1px solid #333;
            resize: none;
            outline: none;
        }
        &-policy p{
            @include m;
            margin-top: 40px;
            margin-bottom: 8px;
            }
        
    
        &-personal p{
            overflow: scroll;
            width: 100%;
            height: 252px;
            border: solid 1px #333333;
        }
        &-wrapper{
            display: flex;
            justify-content: center;
            margin: 41px 0px 42px;
        }
        &-check1{
            border: 1px solid #333;
            margin-right:8px;
            width: 18px;
            height: 18px;
            vertical-align: -3px;
            }
        &-check1:checked{
            background-image: url(./img/check.png);
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-btn{
            @include m;
            text-align: center;
            padding: 8px 66px;
            background-color: #000;
            width: 23%;
            font-size: 14px;
            margin: auto;
            color: #fff;
            outline: 0;
            margin-bottom: 120px;
        }
        button{
            outline: 0;
        }
}


        .footer{
            font-size: 10px;
            background-color: #525252;
            text-align: center;
            color: #fff;
            font-family: 'Montserrat medium';
            height:50px;
            padding-top: 18px;
            margin: auto;
            max-width: 100%;
            width: auto;
        }