.header {
  max-width: 100%;
  width: 100%;
  margin: auto;
}

.header-logo {
  position: absolute;
  height: 0;
  background-color: transparent;
  padding: 22px 0px 0px 59px;
}

.header-logo0 {
  position: absolute;
  height: 0;
  background-color: transparent;
}

.header-bg {
  margin: -24px 0px 0px 643px;
}

.header-ttl {
  position: relative;
  bottom: 321px;
  left: 880px;
  margin-right: 880px;
  color: #fff;
  font-family: 'montserrat';
}

.header-ttl h1 {
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 3px;
}

.header-ttl p {
  font-size: 20px;
}

.header-list li {
  list-style: none;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  top: 180px;
}

.header-list img {
  position: relative;
  left: 58px;
}

.header #show {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  margin: 36px 58px;
  outline: 0;
}

.header #hide {
  float: right;
  margin: 38px 58px 0px 0px;
}

.header nav {
  position: fixed;
  top: 0;
  right: 250px;
  bottom: 0;
  width: 520px;
  margin-right: 250px;
  margin-right: -770px;
  background-color: #222;
  opacity: 0.95;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

.form {
  width: 700px;
  margin: auto;
  max-width: 100%;
}

.form-txt {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  bottom: 34px;
  padding-bottom: 52px;
}

.form-rttl p, .form-ttl p, .form-radio00 p, .form-name p {
  font-family: 'Noto Sans JP', sans-serif;
}

.form-rttl {
  display: flex;
  margin-top: 42px;
  margin-bottom: 8px;
}

.form-top {
  display: flex;
  margin-top: 42px;
}

.form-radio-box {
  display: flex;
}

.form-radio00 {
  font-size: 12px;
  padding: 0px 5px;
  background-color: #333;
  color: #fff;
}

.form-radio01, .form-radio04 {
  margin-left: 20px;
}

.form-radio02 {
  margin-left: 11px;
}

.form-radio03 {
  margin-left: 40px;
}

.form-radio input {
  margin-left: 50px;
}

.form-radio-box {
  margin-left: -30px;
  margin-top: 18px;
}

.form input {
  appearance: none;
  outline: none;
}

.form-radio-btn {
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  border-radius: 50%;
  vertical-align: -4px;
}

.form-radio-btn:checked {
  background-color: #333;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px #333;
}

.form-txtarea {
  border: 1px solid #333;
  width: 100%;
  height: 41px;
}

.form textarea {
  width: 100%;
  height: 212px;
  border: 1px solid #333;
  resize: none;
  outline: none;
}

.form-policy p {
  font-family: 'Montserrat medium';
  margin-top: 40px;
  margin-bottom: 8px;
}

.form-personal p {
  overflow: scroll;
  width: 100%;
  height: 252px;
  border: solid 1px #333333;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 41px 0px 42px;
}

.form-check1 {
  border: 1px solid #333;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}

.form-check1:checked {
  background-image: url(./img/check.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-btn {
  font-family: 'Montserrat medium';
  text-align: center;
  padding: 8px 66px;
  background-color: #000;
  width: 23%;
  font-size: 14px;
  margin: auto;
  color: #fff;
  outline: 0;
  margin-bottom: 120px;
}

.form button {
  outline: 0;
}

.footer {
  font-size: 10px;
  background-color: #525252;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat medium';
  height: 50px;
  padding-top: 18px;
  margin: auto;
  max-width: 100%;
  width: auto;
}
